*{
  margin: 0;
  padding: 0;
}

body{
  width:100vw;
  height:100vh;
  overflow-x: hidden;
  position: relative;
}

.bg_img{
  width: 100vw;
  height: 100vh;
  position: absolute;
  z-index: -1;
  opacity: 0.4;
  position: fixed;
}


.logo_img{
  width: 80px;
  height: 80px;
  border-radius: 50%;
}

.navbar{
  background:#C1F8D0;
  display: flex;
  justify-content: space-between;
  padding: 20px;
  position: relative;
  overflow: hidden;
}

.list{
  display: flex;
  text-decoration: none;
  padding: 10px;
  list-style-type: none;
}

.navbar li{
  margin: 15px;
  text-decoration: none;
  font-size: large;
  font-weight: 700;
  transition: transform 0.5s;
}

.navbar li:hover {
  transform: scale(1.3);
  transform: rotate(180deg);
}

.nav_icon{
  display: none;
}

.list a{
  text-decoration: none;
  color:#543F84;
}

.box{
  margin: auto;
  margin-top: 1rem;
  padding:10px;
  width:30%;
  height:max-content;
  box-shadow: 0px 0px 5px black,0px 0px 15px  #C1F8D0, 0px 0px 25px #543F84;
  display:flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.heading{
  color:#543F84;
  margin: auto;
  font-size: 25px;
  font-weight: 900;
  margin:20px;
}

#sign_up{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form_box{
  margin:5px;
  width:60%;
  box-shadow: 0px 0px 3px black;
  padding: 4px;
  font-size:medium;
}

.submit_button{
  margin: 5px;
  background-color: #C1F8D0;
  padding: 4px;
  border-radius: 20px;
}

.alternative{
  text-decoration: none;
  color:#543F84;
  font-weight: 700;
  margin-bottom: 20px;
}

.tag{
  width:30%;
  font-weight: 700;
  font-size: 2em;
  background-color: #FAD9E6;
  color: #243D25;
  text-align: center;
  vertical-align: middle;
}
.about{
  width:70%;
  font-weight: 600;
  font-size: larger;
  background-color: #E4AEC5;
  color:#5F7464;
}

.container_about{
  height:150px;
  display: flex;
  height: max-content;
  padding: 10px;
  margin: 10px;
}

.a{
  display: none;
}

.banquet_container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.cards{
  display: flex;
  flex-direction: column;
  width: 370px;
  height: 370px;
  background-color: #FAD9E6;
  border-radius: 20px;
  margin:30px ;
  transition: transform, 1.5s;
}
.cards:hover{
  transform: scale(1.2);
}
.banquet{
  width: 300px;
  height: 300px;
  margin: auto;
  margin-top: 15px;
  margin-bottom: 5px;
}
.desc{
  display: flex;
  flex-direction: column;
  margin: 4px;
  justify-content: center;
  align-items: center;
}
.name,.address,.phone{
  color: #243D25;
  font-family:cursive;
}

footer{
  width:100%;
  height:max-content;
  padding: 10px;
  background-color: #543F84;
  opacity: 0.7;
}
.sm_handles{
  display: flex;
  justify-content: space-evenly;
}
.reach{
  color: aliceblue;
  font-weight: 700;
  font-size: larger;
text-align: center;
margin:5px 0px  10px 0px;
}
.sm_handles a{
  text-decoration: none;
color: aliceblue  ;
  font-size: 20px;
  transition: transform .5s;
  width:40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}
.sm_handles a:hover{
  color: #243D25;
  transform: scale(1.2);
  background-color: aliceblue;
}

@media (max-width: 768px){ 

  .list{
    display: none;
  }

  .navbar{
    display: flex;
    flex-direction: column; 
  }

  .navbar li.nav_icon {
    float: right;
    display: block;
    position: absolute;
    top:0.5rem;
    right:0.5rem;
  }

  .list.active{
    display: flex;
    flex-direction: column;
  }

  .container_about{
    display: flex;
    flex-direction: column;
  }
  .tag{
    width: 100%;
  }
  .about{
    width: 100%;
  }
  .a{
    display:block;
  }
  .b{
    display: none;
  }
}

